body {
    position: absolute;
    top: 0;
    left: 0;
    padding: 0;
    margin: 0;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    /* Gradient in Hex */
    background: linear-gradient(45deg, #F99C2E 0%, 12.265978008508682%, #EB54A8 24.531956017017365%, 32.92446719826692%, #63BBF4 48.7411230802536%, 63.589413294420005%, #5A00EC 70.30342221260071%, 85.15171110630035%, #9D01F0 100%);
}

.topbar {
    position: absolute;
    top: 0;
    left: 0;
    padding: 0;
    margin: 0;
    width: 100vw;
    height: 2.5rem;
    background-color: rgba(0,0,0,.5);
}

.logo {
    position: absolute;
    top: 0;
    left: 0;
    padding: 0;
    margin: 0;
    width: 100vw;
    height: 2.5rem;
    // background-image: url("https://raw.githubusercontent.com/Elemento-Modular-Cloud/graphic-assets/main/marks/Marchio orange.svg");
    background-image: url("/img/Marchio orange.svg");
    background-size: 1.9rem;
    background-repeat: no-repeat;
    background-position: center center;
    transition: transform .3s ease-in-out;
}

.logo::after {
    content: "ELEMENTO";
    margin-left: calc(50vw + 1.3rem);
    color: #FAA601;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 2.5rem;
    opacity: 0;
    transition: opacity .3s ease-in-out .1s;
}

.topbar:hover .logo::after{
    opacity: 1;
}

.topbar:hover .logo{
    transform: translateX(-3.3rem);
}

.thebox {
    position: absolute;
    top: 50vh;
    left: 50%;
    padding: 2rem;
    margin: 0;
    width: calc(30vw - 4rem);
    min-width: 36rem;
    height: fit-content;
    transform: translate3d(-50%, -50%, 0);
    background-color: rgba(255, 255, 255,.7);
    border-radius: .5rem;
    font-family: Arial, Helvetica, sans-serif;
}

.thebox h1, .thebox h2 {
    text-align: center;
}