body {
    position: absolute;
    top: 0;
    left: 0;
    padding: 0;
    margin: 0;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    background-color: black;
}

.videobg {
    position: absolute;
    left: 50%; /* % of surrounding element */
    top: 50%;
    transform: translate(-50%, -50%); /* % of current element */
    z-index: 90;
    height: 100%;
    width: 177.77777778vh; /* 100 * 16 / 9 */
    min-width: 100%;
    min-height: 56.25vw; /* 100 * 9 / 16 */
    background-image: url("../img/videos/poster.png");
    background-size: cover;
    opacity: .7;
}

.topbar {
    position: absolute;
    top: 0;
    left: 0;
    padding: 0;
    margin: 0;
    width: 100vw;
    height: 2.5em;
    background-color: rgba(14,17,25,.5);
    z-index: 100;
    box-shadow: 0px 0px 10px rgba(14,17,25,0.6);
}

.mark {
    position: absolute;
    top: 0;
    left: 0;
    padding: 0;
    margin: 0;
    width: 100vw;
    height: 2.5em;
    background-image: url("https://raw.githubusercontent.com/Elemento-Modular-Cloud/graphic-assets/main/marks/Marchio orange.svg");
    background-size: 1.9em;
    background-repeat: no-repeat;
    background-position: center center;
    transition: transform .3s ease-in-out;
}

.mark::after {
    content: "ELEMENTO";
    margin-left: calc(50vw + 1.3rem);
    color: #FAA601;
    font-family: 'herobold', Arial, Helvetica, sans-serif;
    line-height: 2.5em;
    opacity: 0;
    transition: opacity .3s ease-in-out .1s;
}

.topbar:hover .mark::after{
    opacity: 1;
}

.topbar:hover .mark{
    transform: translateX(-3.3rem);
}

.thebox {
    position: absolute;
    top: 50vh;
    left: 50%;
    z-index: 100;
    padding: 2rem;
    margin: 0;
    max-width: calc(100vw - 8rem);
    height: fit-content;
    max-height: calc(100vh - 5rem);
    transform: translate3d(-50%, -50%, 0);
    /* background-color: rgba(255, 255, 255,.85); */
    background: linear-gradient(rgba(0, 0, 0, .4) 25vmin, rgba(255, 255, 255,.85) 25vmin, rgba(255, 255, 255,.85) 100%);
    border-radius: .5rem;
    font-family: 'Google Sans', sans-serif;
    filter: drop-shadow(10px 10px 10px rgba(14,17,25,0.2));
    padding-top: 25vmin;
}

.thebox * {
    white-space: pre-line
}

.thebox table img {
    height: 4vh;
    transition: transform .1s ease-in;
}

.thebox table img:hover {
    transform: scale(1.1);
}

.thebox .logo {
    position: absolute;
    top: 12.5vmin;
    left: 0;
    height: 17vmin;
    width: 100%;
    transform: translateY(-50%);
    /* filter: brightness(0); */
}

.elemento {
    font-family: 'heroregular', Arial;
    /* color: #FAA601; */
}

@media (orientation: landscape) {
    .thebox {
        width: calc(50vw - 4rem);
    }
    .thebox h1 {
        font-size: 3vh;
    }
    
    .thebox h2 {
        font-size: 2.5vh;
    }
    
    .thebox h3 {
        font-size: 1.7vh;
    }

    .thebox p {
        font-size: 1.7vh;
    }
    .thebox table img {
        height: 4vh;
    }
}

@media (orientation: portrait) {
    .thebox {
        width: calc(100vw - 8rem);
        max-height: calc(100vh - 10rem);
    }
    .thebox h1 {
        font-size: 6vmin;
    }
    
    .thebox h2 {
        font-size: 4vmin;
    }
    
    .thebox h3 {
        font-size: 3vmin;
    }

    .thebox p {
        font-size: 3vmin;
    }
    .thebox table img {
        height: 6vmin;
    }
}

@media (max-width: 600px) {
    .thebox {
        width: calc(100vw - 8rem);
        max-height: calc(100vh - 10rem);
    }
    .thebox h1 {
        font-size: 4vmin;
    }
    
    .thebox h2 {
        font-size: 2.5vmin;
    }
    
    .thebox h3 {
        font-size: 2vmin;
    }

    .thebox p {
        font-size: 2vmin;
    }
    .thebox table img {
        height: 6vmin;
    }
}

@media (max-aspect-ratio: 3/2) {
    .thebox {
        width: calc(100vw - 8rem);
        max-height: calc(100vh - 10rem);
    }
    .thebox h1 {
        font-size: 4vmin;
    }
    
    .thebox h2 {
        font-size: 2.5vmin;
    }
    
    .thebox h3 {
        font-size: 2vmin;
    }

    .thebox p {
        font-size: 2vmin;
    }
    .thebox table img {
        height: 6vmin;
    }
}

.thebox h1, .thebox h2 {
    text-align: center;
}

.thebox table {
    width: fit-content;
    margin: auto;
    text-align: center;
}

.centered {
    text-align: center;
}

.lang-disable {
    display: none;
    visibility: hidden;
}